// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//toastr
@import "~toastr/toastr";

#avatar-upload {
    display: none;
}

#avatar-clickable {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

#avatar-nav {
    width: 1.6rem;
    height: 1.6rem;
	object-fit: cover;
}